<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ku, Chi, Pa !</title>
</head>
<body>
    <h1>Rock, Paper, Scissor !</h1>
    <p>Your name, young Padawan</p>
    <form action="/play" method ="POST">
        <input type="text" name="name">
        <input type="number" name="rounds" min="1" max="10" placeholder="Enter number of rounds">
        <input type="submit" value="Submit">
    </form>
</body>
</html>