body {
    background-image: url('https://images.hdqwalls.com/download/windows-xp-bliss-4k-lu-1024x768.jpg');
    background-color: #A0B2A6;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}